<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}  {% endblock title %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

	
    <div id="wrapper">
	    <!-- navbar start -->
        <nav class="navbar navbar-default sticker" id="main-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
                </div>
                <div class="collapse navbar-collapse" id="main-nav-collapse" data-hover="dropdown" data-animations="fadeInDown fadeInRight slideInUp fadeInLeft">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">О нас</a></li>
                        <li><a href="/">Оглавление</a></li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="/user/logout/"> Выйти </a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/{{ request.user.id }}"> Личный кабинет</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="/accounts/login/"> Войти </a></li>
                        {% endif %}
                        <li class="dropdown">
                            <ul class="dropdown-menu dropdown-menu-left">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
		<!--/ navbar end -->
		
		<!-- Slider start -->
        <section class="banner-section full-height-section" >
            <div class="slide-content">
                <div class="coll-middle">
                    <div class="inner">
                       {% block content %}{% endblock content %}
					</div>
                </div>
            </div>
        </section>
		<!--/ Slider End -->


		<!-- footer Start -->
        <footer id="footer">
            <div class="widgetized-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="footer-widget">
                                <h2 class="widget-title">{% block extra_body %} {% endblock extra_body %}</h2>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="footer-widget">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-footer">
                <div class="container"><span class="copyright-text">&copy; 2019 Busiplus Agency. All rights reserved.</span></div>
            </div>
        </footer>
		<!--/ footer End -->
		
    </div>
</body>


</html>